<div id="login">
    <h5>Pharmacist consulting reservation</h5>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <div class="form-group">
                        <label>Enter date:</label>
                        <input type="date" name="begin" placeholder="dd-mm-yyyy" value="" min="1997-01-01"
                            max="2030-12-31" [(ngModel)]="this.date">
                    </div>
                    <div class="form-group">
                        <label>Enter hours:</label>
                        <input type="number" name="aaabegin" placeholder="Hours" value="" min="0"
                            max="23" [(ngModel)]="this.hours">
                    </div>
                    <hr />
                    <h4>List of available pharmacies: </h4>
                    <br>
                    <div class="row" id="ads" *ngIf="filteredPharmacies">
                        <!-- Category Card -->
                        <div class="col-md-4" *ngFor="let fp of filteredPharmacies">
                            <div class="card rounded" [class.activeDiv]="selectedPharmacy.id === fp.id">
                                <div class="card-image">
                                    <img class="img-fluid" src="assets/resources/pharmacy.png" alt="Alternate Text" />
                                </div>
                                <div class="card-image-overlay m-auto">
                                    <span class="card-detail-badge">{{fp.description}}</span>
                                </div>

                                <div class="card-body text-center">
                                    <h5>{{fp.name}}</h5>
                                    <button class="btn btn-danger" (click)="addPharmacy(fp)">Select</button>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div *ngIf="!filteredPharmacies">
                        <h2>No results found!</h2>
                    </div>
                    <hr />
                    <h4 *ngIf="this.selectedPharmacy.id">List of available pharmacist: </h4>
                    <br>
                    <div class="row" id="ads" *ngIf="filteredUsers">
                        <!-- Category Card -->
                        <div class="col-md-4" *ngFor="let fp of selectedPharmacy.pharmacists">
                            <div class="card rounded" [class.activeDiv]="this.user.id === fp.id">
                                <div class="card-image">
                                    <img class="img-fluid" src="assets/resources/pharmacistLogo.png" alt="Alternate Text" />
                                </div>
                                <div class="card-image-overlay m-auto">
                                    <h6 >{{fp.firstName}} {{fp.lastName}}</h6>
                                </div>

                                <div class="card-body text-center">
                                    <h5>{{fp.name}}</h5>
                                    <button class="btn btn-danger" (click)="addPharmacist(fp)">Select</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!filteredPharmacies">
                        <h2>No results found!</h2>
                    </div>
                    <hr/>
                    <div class="form-group" id="button">
                        <button (click)="reserve()" [class.disabled]="!this.user.id" class="btn btn-danger btn-block">Reserve</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>