<div id="login">
    <h5>Create appointment:</h5>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                        <div class="form-group">
                            <label>Enter appointment date:</label>
                            <input type="text" name="date" id="date" class="form-control" [(ngModel)]="this.date" placeholder="Enter date..." required>
                        </div>
                        <div class="form-group">
                            <label>Price:</label>
                            <input type="number" name="price" id="price" class="form-control" [(ngModel)]="this.price" placeholder="Enter price..." required>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label>Add pharmacy</label>
                                <select (change)="addPharmacy(selectedPharmacy)" class="custom-select" name="type" [(ngModel)]="selectedPharmacy">
                                    <option  *ngFor="let st of pharmacies">{{st.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label>Add dermatologist</label>
                                <select (change)="addDermatologist(selectedDermatologist)" class="custom-select" name="type" [(ngModel)]="selectedDermatologist">
                                    <option  *ngFor="let der of dermatologists">{{der.firstName }} {{der.lastName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="button">
                            <button (click)="create()" class="btn btn-danger btn-block">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>