<h2 style="margin-left: 50px; margin-top: 20px;">Pending orders: </h2>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 table-responsive">
            <table class="table table-bordered table-sortable" id="tab_logic">
                <thead>
                    <tr>
                        <th class="text-center">
                            Order id
                        </th>
                        <th class="text-center">
                            Order deadline
                        </th>
                        <th class="text-center">
                            Offers
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr id='addr0' data-id="0" class="hidden" *ngFor="let d of orders">
                        <td data-name="name">
                            {{d.id}}
                        </td>
                        <td data-name="name">
                            {{parseDateTime(d.deadline) | date: 'short'}}
                        </td>
                        <td data-name="name">
                            <button *ngIf="indexClicked === undefined || indexClicked !== d.id" (click)="getOffersForOrder(d.id)">Show offers</button>
                            <div *ngIf="indexClicked === d.id">
                                <div *ngFor="let o of offers">
                                    <span>{{o.totalPrice}} {{o.deliveryDeadline}}</span>
                                    <button (click)="accept(o.id)">Accept</button>
                                </div>
                            </div>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>