    <div id="login">
        <h5>Drug reservation</h5>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <div class="form-group">
                                <label>Enter date:</label>
                                <input type="date" name="begin" placeholder="dd-mm-yyyy" value="" min="1997-01-01"
                                    max="2030-12-31" [(ngModel)]="this.date">
                            </div>
                            <div class="form-group">
                                <label>Enter hours:</label>
                                <input type="number" name="aaabegin" placeholder="Hours" value="" min="0"
                                    max="23" [(ngModel)]="this.hours">
                            </div>
                                <div class="form-group">
                                    <label>Add pharmacy</label>
                                    <select (change)="addPharmacy(selectedPharmacy)" class="custom-select" name="type" [(ngModel)]="selectedPharmacy">
                                        <option  *ngFor="let st of pharmacies">{{st.name}}</option>
                                    </select>
                                </div>
                            <div class="form-group" id="button">
                                <button (click)="reserve()" class="btn btn-danger btn-block">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>