<div class="container">
    <h4>Filter: </h4>
    <form id="login-form" class="form" action="" method="post">
        <div class="form-group">
            <label>Drug Name:</label>
            <input type="text" name="derName" id="derName" class="form-control" [(ngModel)]="this.drugName"
                placeholder="Enter drug name">
        </div>
        <div class="form-group">
            <label>Drug type</label>
            <select (change)="addDrugType(drugType)" class="custom-select" name="type" [(ngModel)]="drugType">
                <option  *ngFor="let st of drugTypes">{{st}}</option>
            </select>
        </div>
        <div class="form-group" id="button">
            <button (click)="filter()" class="btn btn-danger btn-block">Filter</button>
        </div>
        <div class="form-group" id="button">
            <button (click)="reload()" class="btn btn-danger btn-block">Reset</button>
        </div>
    </form>
    <hr />
    <br>
    <h4>List of available medicines: </h4>
    <br>
    <div class="row" id="ads" *ngIf="filteredMedicines">
        <!-- Category Card -->
        <div class="col-md-4" *ngFor="let fm of filteredMedicines">
            <div class="card rounded">
                <div class="card-image">
                    <img class="img-fluid" src="assets/resources/medicine.jpeg" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span >{{fm.specification.drugType}}</span>
                </div>

                <div class="card-body text-center">
                    <h4>{{fm.name}}</h4>
                    <button *ngIf="this.currentUser.userRole==='PATIENT'" class="btn btn-danger"><a class="moreLink" style="color:white"
                            [routerLink]="['/drug-reservation', fm.id]">Reserve</a></button>
                </div>
                <div class="card-body text-center">
                    <h5>Producer: {{fm.specification.producer}}</h5>
                </div>
                <div class="card-body text-center">
                    <h6>{{fm.specification.description}}</h6>
                </div>
                <div class="card-body text-center" *ngIf="this.currentUser.userRole==='PHARMACY_ADMIN'">
                    <button (click)="remove(fd.id)" class="btn btn-danger btn-block">Remove</button>
                </div>
            </div>
        </div>


    </div>
    <div *ngIf="!filteredMedicines">
        <h2>No results found!</h2>
    </div>
    <div *ngIf="this.currentUser.userRole==='PHARMACY_ADMIN'">
        <h3>Add new drug</h3>
        <form id="login-form" class="form" action="" method="post">
            <div class="form-group">
                <label>Enter name:</label>
                <input type="text" name="name1" id="name1" class="form-control" [(ngModel)]="this.newDrug.name"
                    placeholder="Enter name..." required>
            </div>
            <div class="form-group">
                <label>Enter code:</label>
                <input type="text" name="name2" id="name2" class="form-control" [(ngModel)]="this.newDrug.code"
                    placeholder="Enter code..." required>
            </div>
            <div class="form-group">
                <label>Enter drug type:</label>
                <input type="text" name="name3" id="name3" class="form-control" [(ngModel)]="this.newDrug.specification.drugType"
                    placeholder="Enter drug type..." required>
            </div>
            <div class="form-group">
                <label>Enter drug type:</label>
                <input type="text" name="name4" id="name4" class="form-control" [(ngModel)]="this.newDrug.specification.contraindications"
                    placeholder="Enter contraindications..." required>
            </div>
            <div class="form-group" id="button1">
                <button (click)="addDrug()" class="btn btn-danger btn-block">Add new drug</button>
            </div>
        </form>
    </div>
</div>